<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (C) 2016 <CIRAD>
   
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License, version 3 as
    published by the Free Software Foundation.
   
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
    See the GNU Affero General Public License for more details.
   
    See <http://www.gnu.org/licenses/gpl-3.0.html> for details about
    GNU Affero General Public License V3.
   
    Contributors:
        Anestis Gkanogiannis <ganoyan@gmail.com>
 -->

<configuration>

	<baseMapDB>/opt/apache-tomcat-7/wars/feature_protein_transcript_cache.mapdb</baseMapDB>

	<baseJbrowseURL>/cgh/jbrowse/index.html</baseJbrowseURL>

	<defaultEvalue>1.0E-5</defaultEvalue>
	<defaultAlignments>50</defaultAlignments>


	<!-- program id
			1 blastn
			2 blastp
			3 blastx
			4 tblastn
			5 tblastx -->
			
	<!-- database id
			1 chromosomes
			2 genes
			3 cds
			4 mrna
			5 protein 
			6 transcript -->		

	<database_sets>
		<set program_id="1" >1,2,3</set>
		<set program_id="2" >5</set>
		<set program_id="3" >5</set>
		<set program_id="4" >1,2,3</set>
		<set program_id="5" >1,2,3</set>
	</database_sets>
	
	<example_sets>
		<set database_id="1" program_id="1">1</set>
		<set database_id="2" program_id="1">1</set>
		<set database_id="3" program_id="1">1</set>
		<set database_id="5" program_id="2">1</set>
		<set database_id="5" program_id="3">2</set>
		<set database_id="1" program_id="4">2</set>
		<set database_id="2" program_id="4">2</set>
		<set database_id="3" program_id="4">2</set>
		<set database_id="1" program_id="5">3</set>
		<set database_id="2" program_id="5">3</set>
		<set database_id="3" program_id="5">3</set>
	</example_sets>
	
	<output_sets>
		<set database_id="1"></set>
		<set database_id="2">gene,cds,protein</set>
		<set database_id="3">gene,cds,protein</set>
		<set database_id="4">gene,cds,protein</set>
		<set database_id="5">gene,cds,protein</set>
	</output_sets>

	<programs>
		<program id="1">
			<name>blastn</name>
		</program>
		<program id="2">
			<name>blastp</name>
		</program>
		<program id="3">
			<name>blastx</name>
		</program>
		<program id="4">
			<name>tblastn</name>
		</program>
		<program id="5">
			<name>tblastx</name>
		</program>
	</programs>
	
	<databases>
		<database id="1" type="nucl" outfasta="false">
			<name>Pseudochromosomes</name>
			<bank>/data1/Reference/blast/6.1/Mesculenta_305_v6.1.chromosome.fa</bank>
			<methodSuffix>Chromosome</methodSuffix>
			<feature_cache>feature_cache</feature_cache>
			<protein_cache>protein_cache</protein_cache>
			<tracks>tracks=ReferenceSequence-1\,Genes-1</tracks>
			<columns>
				link,qName,qLength,aLength,qStart,qEnd,subject,sStart,sEnd,strd,identity
			</columns>
			<example id="1">
				>Query from Chromosome04
				ACCCGGAACCCGGAACTCCGAACCCCGAACCCGGAACCCGGAACCCCGAACCCGGAACCC
				CCAACCCCCAACCCTGAACCCTCTATAACGGATTGTACATTTAGTCCTCAAAATAGCACA
				GCGGAATGCTAATAATTGTAGCAACATAGTGGCAACATAAACACAATGGTGGAAGGAATA
				AACAAGAGCTGTATTCACTCAAACAATATGACAATTACAACTCATGCTTAATATGTACAA
				AAGGATATAAAGGTACATTGTTGGGAAAAGGCTCTCCTAGCTCACGCACTCAGTCTGTTG
				CTGCCTACTACTTAGCTGGCTGGCCAGCAACATTCTGCCCCCAACTGGCAGAATAGCCAC
				TGCACACTCCTCGCTACTGGGAGACTCTCCAAACAAGGAAGGGAGATTCTGAGTTGGGAG
				GGGGCTTCACAATCTGGGGGGGCTTGCTTATGTCTGCCTTGGATGCCCTACTTATAAGCA
				ATTCCACCTCCTCAACATGTGGTGGAAAATATTTCTCTAAGCCCGAATCCCGAACCCTAA
				AATCCTAAACCCTAAACTCCAAATCCCGAAACCCTGAAAAACCCCGAAAAACCCGGAATC
				CAAAATTCAGAGCCCTTGAATCCTAAGTCCTGAACCCTGAACTCCGAATCCTGAATTTCG
				AACCCCGAATATATTCATGATCTGCATCACAATAACACTACTTACCTTACAATTGGAATT
				TTTTTTTCTAATAAAATATTAAATATCTAATATCCAAAATTCATTGATTACACATTTTTT
				ATTATAACATAAAAATTAAAATTAATTTATTTTTACATTTTAATAATTTTAAAATTTTTT
				TCCATGATAATAAGAGAAGACTAGGGTTTTAGTTTTCTAACTTTGAATCTGTCCAATCTT
				AATTGAATTCAATCAGATATTGAGGAATATTTTTATCTGAATTTGTAGTTTATGAACTTT
				AAATAAAATAAAATGAAGAATAAATTAAATCAATCAATGAAAAGGGTGCTCCAGGTCTTG
				CGTTGTGAGCCCAATACCTCTCGTGAAACCCATCATGAAGCCCAATAAAAAATAGACCAA
			</example>
			<example id="2">
				>Manes.08G002700.1.p pacid=32329756 transcript=Manes.08G002700.1 locus=Manes.08G002700 ID=Manes.08G002700.1.v6.1 annot-version=v6.1
				MGKWYPKVSDEYQKAVQKCKRKLRGHVAEKRCAPIVLRLTWHSAGTFDVKTRTGGPFGTIRHPEELAHQANNGLDIAVRL
				LEPIKEQFPILTYADFYQLAGVVAVEITGGPEIPFNPGRPDKSNPPPEGRLPDATKGADHLREVFGRMGLSDKDIVALSG
				GHTLGSCHKERSGFEGPWTTHPLIFDNSYFKELLSGEKEGLIQLPSDKALLQDPVFRALVEKYAADEDAFFEDYAEAHLK
				LSELGFGDAQ*
			</example>
			<example id="3">
				>Manes.10G000100.v6.1
				CAACAGATTTCAAAAAGCATATTCATTGACCAAAACTTCTAAGATCTTAAACATATGTAATCGTTAATAGATACTCAAAGAGTGAAATTTCAAAATATTTCTTCCAAAATTCTAGTAGTATCATAACAAAGCATGACAGGAAATAAATCAAATTATCAAG
				CTCTAGCAGCAGTCCCAACCCCTGCAGGACGAATTCCTTGACCAGGTTGTCCAGGCTGTCCAGGCTTTGGCAAGTCATCCTGAGATACCACAAAAGCAAGGAATAAAATTTTTAAATAATGCATGAAAATAGTCATAGCTCAAAGCCACGTCGAAGGAAA
				TTGTATACACAGTTTTTTTTAAAAAAAATACTATTACCTTAGCAAACCAAATAATTTCAAGAAGCTACAAACCAAGGAACCCTGACCCTAAACCAGGTATTATCAAATATGATCACACCCTCATAATAATCTAAGATCCAGCTAAAAGATGGAAAGGAAA
				CACACTGCACCTATGATCAAATAATAATGGAATGGGAATACGAATGTTGCGGAATTAACATCCCCCCATGTTATATATAAATTCTCTTAAAAAGCCAGAGAAATAAGTTAATATGTTTTCAGAAGCATGATGAGAAGTTTACTGAATAAGTTCTTGTTAT
				AAGATAACAAGGAAAAAGGATCAAATAGGAAATATCATAAAATTGAAGATGCCTGACTCTAACAAAATAGTTTACACAAGTTATACTACAGACTTATTACTTAATGAAAAAGATGCGAATACTGAATAGTTACAGGCACTAATTCAATTACAACTCATCT
				ACATTTTTTTATTTACAATCTATAAAATAGAAGTAATTCTAATCCATCTATTTTAGTTTATTTTAGGGCCATGGGTGTAGGACGTGCTCGGTGTGACTACAAGCTGTGGGCCGCTGACTACATTTGCGAGTTTTCCAGTTGCATCTCACTCAACTGAGTT
				TACTTTTCTTTTGGGTTTTATTCAACATTGCTGCTGTTGGATCATATGAAATCTAGGCTGGGATTATTTGAGATTTAGAATTGAGAAATTTTTGTCAATTGATTTTATTTGAGACTTTGATTTCTGTTAATGATGTGTGTGTTAGATTGGGAAGAAGGTT
				AGTGTCCTACGTACATGATTTTCCCCATAGAATTGATAAATCAAACCAAACAATTTTTTCCCAGTTGGATTCAAAGTGGGCCTTCAATATATAATTTCAGCAGTTCTGTCATTTGATTTTCAGGTTCAGATCCAATCCCCCATAACCTAAAATGCAATCG
				CCATTTTAGGCCCAAAACCAGACCCTTATATAAGTAGATAACTATTATCATCAGCTAGACACTAGAATGTAATTATGTTTTTAACAAATTAACAGCAAAAACTGCATGAGCTGGGCCCTTTGTTTGGGGTATAGCATGAGCATCACAAAGAAATCATGAC
				AGGAATAAAACAACAAATTAAAACTAAGACTCTAACAATAACAGCAACTAACATGGTACAATTGCAATCTCAATGGTATTAGGGGCAATAAATAAAAGCATAGAGAAAATATTTTTAAAAAAAAAAATAGTACCCTGCGCCTGAGGAAGCGCTGTGGTGG
				CTCACGGTTCCTGCGCTGAGTGCGAGAGCGAACCCTCACAACCCTGGAGTGAATGGCACATGAAACACAGTACTGCATCTTCACATACAGCTTGGGAAGTACATATCCTGCAAAACCAAATAAATCAATCCATAAATAATCAAATAAATAACAAATAACT
				ATACAAAGTAAGAGGAACAGAAAGATAGATAAACCATCATAGACGCAAGAATCCTGAACATCCCTCACAGCAGCTTGCTCGACGATGTTTCTCACAAGAAACCTCTTGATTGCTTTGTCCTTTCAGGTGTTGCAAAAAAACAAAAAAACAAAAGCCAAAC
				AGAAATCAGGAATCCCAAACGAAAATCAAGTCAATGAATAAATAAATGATTCAAGTAGGTATGTACCTTGGGGCAGCATTTACCGCAGTTGGAGCAGCGGATGAACTTGACGTGTCCTCGGCCGTGCTTGTTGCGACCGCCGTTCCTACGCTTGAATGTC
				TGCGAAAATTGAAAAATATTGTCAGTGAGATTATAATTAGATTGAGATTAATGATGAATGGAAGAGAAGAAGGGGAGCTAACCATGGCGGCGAGTGGTGGTGTTTCCTGGATACAAATGTGGGATATGCGCAGGTGCCGCTAGGGTTTTCACAGGAGGAA
				GCAGTTTGCTTATTATTATATTTATATATACAAAGTGGG
			</example>
		</database>
		<database id="2" type="nucl" outfasta="true">
			<name>Gene sequences</name>
			<bank>/data1/Reference/blast/6.1/Mesculenta_305_v6.1.gene.fa</bank>
			<methodSuffix>GeneCDSmRNA</methodSuffix>
			<feature_cache>feature_cache</feature_cache>
			<protein_cache>protein_cache</protein_cache>
			<tracks>tracks=ReferenceSequence-1\,Genes-1</tracks>
			<columns>
				link,qName,qLength,aLength,qStart,qEnd,subject,sStart,sEnd,locus,lLength,lStart,lEnd,lType,strd,identity
			</columns>
			<example id="1">
				>Query from Manes.02G224800.v6.1
				TTTTTTTTCTCTCTTGTCAATAAAGAGATTTGATTGCCAAAACTGAAAACACTGTACACTAA
				AAGAGTATACGAAGTAAAACCACAGAAACTCAAACACAAAAGATCAAACCCACGGTATATCA
				ACACAACCCGCATCTCTAACAGCAAGCAAAACCACTCTCTTCATTCCTCGCATCAGTTGACA
				GCAAGCAGCAAAAAACAACTCATATTGCTAGTAGGTGACAATCAACATAAACATCTCAACAA
				AAAACAGGAACTCAGCAACAAAACAAGAAACCCCAGCTTACATGAACAAAAATCATATTGCA
				TAACAACTCAACAGCCACTATCTTCACCAAATCAATAAGCACCTCATCCTCTCAACCAAGAT
				GTAGAAACACTTAAAAAACAACCTAACTGGTAACAACAGCAATCCTGCAGCAAAGAACATCA
				GCACTCATCAACACCCAAATCCAACTTTTAATTACAATTCCACTTGGACCAATGATAGAATT
				AAATGCACTTTGTAATCTCAATTTTATACAAGAGACAACCTTACTTACCACCCTATTAACAT
				CAGAAGCATCCCGTTTAAACACCACCCTATTCCTTTCCATTTATAGATGGTAGATTGTAGCA
				TTGCACGCCACTCTTCTACATGTGGACAATCCACTCTTACCTGTTGCATTTCTTGTGAACCA
				GCTTACATCTCTTCTCCATGATAGGCCAGCTCTATTAATGACACATTTCTGTAAGATAATGC
				TCCAAAACCTGCTGGTAAAAGGGCACTTTGAAAAATAGGTGCTCAACTGTTTTCACCTTGCT
				GTC
			</example>
			<example id="2">
				>Manes.12G098000.1.p pacid=32343968 transcript=Manes.12G098000.1 locus=Manes.12G098000 ID=Manes.12G098000.1.v6.1 annot-version=v6.1
				MALFFSINLFVCLRRILFHVLTSSSVFWQYFTLHRTRKIFGISLSLILINLAAIMERADENLLPSVYKEVSEHLGTHNFLPLNK*
			</example>
			<example id="3">
				>Manes.11G000100.v6.1
				GGTTCAAAGATGCGCGTGTGTATATAAAAAATAAAGAAACAAGCCATGAGAGAAGCGAAACCATTTGGTCACTTCATTTGCTTCCGCAAGAAAATAGACAGCAACAAAGCTGCAGGATATGATAAATCATAATCAATTGTTAATCTTAAAATTAACAGCA
				AATGGAATTAATTAAGCATTTGTCATTTAAATCATGGTGGGAAAATGGTTAATCACCTTTGATTGAGAGGAAGAAGTAGGTTGGTTTCTTTGATTTTGAGGCCCGGGACAATAGGATGGTAGTGATGGGATTGCGGCTAATGAATTTTGTTTTTCCTCCT
				TTATTCTGTTGAAAATTACAGTAAAACCTTCTCCAGAAGTGGTATCTGCTTCATCCCATGCTCCAAATTGAGGAATTGAAGTTGACCTATGATGCTGATTCTACCACCCAAATTAAAGAATCAAAAATCGAATGCAGAGCTTTTATCCACGAATCAAGCA
				ATATTAGAACCAGGAAATAAAAGGCCACTGCACTTACTCTATCATCACCAGGTGGATGACTTCCACTTTTCTGCCTAGAATGTTGCGGGGCAAGGGCAACAGATGTAGAAAAGCTATTATTGTTACCTACTCCCTCAGGAGCCCAACTCTTCTTCCTCTG
				AGATTTTTCCCGTCGATAACCTGTAGCCTGCAACAGCGAACTCCCAGATTCTGAGGAGATACTCTTTTGACTGTGGCCACAACTCAAATCGACTCTCCCATTCCCATACGTGAAAGCCTCTAGATTCTGCTCTGGGTCATTAGGGTTTATAGGGACACTG
				GCCTTTTCTTTACGTGCATTATCAAAGAATGCAGTGTAAGGTATATCATCATTGTCCCAGTTGCCGAATTTTGGGACATGGGCAGGTTGCTGCTGTGAGTGTGACGAAGCCAT
			</example>
		</database>
		<database id="3" type="nucl" outfasta="true">
			<name>CDS sequences</name>
			<bank>/data1/Reference/blast/6.1/Mesculenta_305_v6.1.cds.fa</bank>
			<methodSuffix>GeneCDSmRNA</methodSuffix>
			<feature_cache>feature_cache</feature_cache>
			<protein_cache>protein_cache</protein_cache>
			<tracks>tracks=ReferenceSequence-1\,Genes-1</tracks>
			<columns>
				link,qName,qLength,aLength,qStart,qEnd,subject,sStart,sEnd,locus,lLength,lStart,lEnd,lType,strd,identity
			</columns>
			<example id="1">
				>Query from Manes.04G015300.1.v6.1.CDS.1
				ATGACAGTTTTAAAAAGGTACGTGTTGAGGTTGTTTATATCATTGAAGTACATTACAGCTAAC
				GTTGTAGACAGAAACAACGGGAGGATTGTTGCAACGGCATCAACAGTTGAACATTCCATCAAG
				AACACACTTGAATGTGATCGGTCCTGCAATGCAAAAGCAGCAGCAGTTGTTGGAGAGGTGTTG
				GGTATGCGTCTAAAGGTGGAGGGTCTTGATCAAGGACAAGGAAGAGGAATTCATGTTAATATA
				AGCAAAGAGGTTGAGAAAAAAGGTTTTAAAAACCAAACCAAGATATGGGCTATTGTTAATGCC
				CTTAAAAATAGTGGAGTTAAGGTTATTTTGGACGATAATGATGACAACACATCTGGAACAAAA
				TTCCCATAA
			</example>
			<example id="2">
				>Manes.11G054600.1.p pacid=32354673 transcript=Manes.11G054600.1 locus=Manes.11G054600 ID=Manes.11G054600.1.v6.1 annot-version=v6.1
				MEIFIIFYILSLISAIFNGVSSKNTYDILSYGAVGDGKTDDTLAFVKTWNATCNDSDTPTMIIPDGKTFLVHQVTLAGPC
				KSTNVNFQLSGKIIAPAPIAWNGRDSGRWLAFRQVDGLIIAGTSNGLLDGSGKAWWDISCKHNPGKAGCNHLAPTILGFE
				NCNNINMRGIRTVQSGGVHIRFHSCEQVELDSLNLQSPGDSPNTDGIHISHSKSFFINNSIIGTGDDCISIVDRSYNINI
				TYIDCGPGHGISIGSLGQKGEEVDVNNITVSHINFHNTTNGARIKTWTVGRGQVQNVQFSDIIFKEVQNPIIIDQHYTES
				GNTPSPPSNVGVHINGVQYLGLNGTSKTQAAINLNCSENVACTNIRLENIELKSATPGEEVKSSCNNAFGSAQGVVEPSS
				CLRQQGF*
			</example>
			<example id="3">
				>Manes.13G000100.v6.1
				CTAGTTATTGTAGGATGAGTTAGAGTAGTTCAGGGAGGTCATAGAAGGCATGCTTGAAGGAATTGGACCGGAAAGTTGGTTGCAACAGAGGTCAAGAGATTCTAAACGATTCAGGTCTCCAATATCTAGGGGTATCTCTCCAGTCAACTGATTCCATGAT
				AAATTTAAAAAACCAATATATGACAGATTACTTATGCCAGCTGGTATTTGTCCTTTTAGATGATTTCCTGAGAGATCTATAGCATTCACCACAGGAAGTATCTTGGTATATTCAACTTCTCTTCCCTTCACATACAACTCTATTTCCTGTGAGTAGACAA
				CACGATTTGTCACTACATGGTAAGGTTTGAAGGAATTCAAGCCACTTAGATTGCCCAAACATGGTGGGATTGGCCCTGATAAATTATTAAGAGCAAGGTCCAAGATATGGAGTTCAGGAAGGTGACAAATGCTTTCAGGAATACTTCCATTGAGTAGATT
				GACTCGTAGATTGAGTATTGTCACTGACAATAGCCTTTCACCAATCCAATCTGGTATATTTCCAGTGAACCGATTTTCTTTAAGATCAAGTGTTGCTACATGTGTGCAGTTCTGCAACGACTGGGACAAATCTCCAGAAAGATTGTTGCTAGTTAATTTC
				ACTAACTGAAGCAGAAGTAGTGAGCACATGGAGCTTGGGATGCCACCACAGAGTTTGTTGTTGGATAAATCAGTGGTATCCAACTGTTTCAAACCTTTCCAATGGTTATGGATCTCCCCAGACAATTGATTGTTTGAGAGATCAAGAGTAGTCAATTTCT
				TCATTTCATTTAAAGAAGACGGGATTTCTCCAGTTAAAGAGTTCCCAGAAAGTTCCAAGATAAGCACCATTGACATTTTTTGGCTAATGTTCAAGGGAATGGTCCTGAAATCAAGTTGTTACTGAAAGACACAGATTGAACATTAGAAAAAAGCGGCATA
				GGACCCTCTAAAAGATTAGATCCACTCTCACTGCTTCTGGTGAAAAGCTAAGTGAATCTGGAAGCATTCCATGTAATTGGTTGTTTTAAATTAGCTCCAACCACTTAAACTGTGGAGTTAAGTTCCAAAACCAGCTAGGTATTGAATCTGAAATTGAAAC
				TCCAATAAGGGTTACCCTCACTAATTCCTTTTGAGTTTCAAGCCATGTCGGAAATTTGGGACCCATTTGGCAATCATTGACTAAGATGACCTGTAGGCTAAAAGGGGGAACCCACTCTCGTCTCACATCAAATGCCAAGGACTTGTTTACAGAAGATAAT
				GAAAGACATTTTAAATTTTTGAGGGTCAGGAAATGAACCTCAGATATGTTGCCACCCAAGGATTCCCAAAGAGATCCAAGTAAGTTAAAGCCTCAAGTTTCCCTATGCTTTCTGGTATAGTTCCGCTCAATTTATTGGCAGAGAGGTCCAAGTCCTCCAA
				AAAGGGTAACCTCTCAATGGATGTCGGAACTGAACCTAAGAATGAATTCCCAAAAAGCCTGAGGGACTTCAAGCTCCGGAAGTGTCCTAATGACTCAGGAATCTGGCCACTCAAATTGTTACAACCCAAGTGTAATATCTTTAGGCTACGGTTACTGCAT
				TCAGACAAGCTGTCTATGAGTTCAACCATTTCACCACTAAATTCATTGTAACTTAAGTCTAAACCTTGCAAGTTACAGAGGTTTCTCCAGGCATTAGTGGATAGCGGACCCCTAATTTCAGAATTCACAAGGTTAAGGTCCACAAGACCACTGATATTGA
				ATAGCCAATGAGGTATATGATTGTTGTAAACATGGAGGACCAGCAAAGAAGTGAAATTTACAGCTGGAAGGAATTGAGGGAATCTGCGAAGATCACTACCTGGCAAATGCAACTCTACAAGAGAAAGGAGGCTAGTCAAAGCTTGCACCCTGCTGGCTGA
				TACTAAGCTAAGGTTTACGCTTGCCAGGTTCAGGTACTTTAGAGAAGAGAGTCCAGAAATCCAGTTGGCATCAGAAACCCAAATGCTTTTAGGATTGGGATTAGTGTATGAATATGGAAAAAGATCAAGATAATTGCAAATTTGAGAGGTTTCCAAGATG
				AGGGGGAATCATTCCAGCAAATGATGCATGAGAAAGATTAAGATATATCAACTCCTCAAATGAACCAATGAAATCAGGAATTTGAACTCCCTGAAAATTGTTTATGCTCAAATCTAAATACATCAAGTGTTTCAGATCAAGCAAAGAAGGAGTAATTTGG
				CCCCGCAGACAGGAATGGTTATAAGCTTCTGCCTCACTTCCGAACATGAGATATACGGGATAAGTAAGGTTGTACGGATTTCTAAGGTCAAGCTGGATTACGACATCTGTCTGTGCGCTGCATCTCACACCATTCCATTGAAAACAATCTTCACCAACCC
				AAGAAGAAAGCCGACCCGATGGATCTTGAAGACCTTGTTTGAATTGAACAAGTGCTTTCCTCTTAATCTCAATACAACCTGCAGTGAAATTGGTGGCCGCGGAAACAAGCAAAGGAAGTAGATAAAAGTGGAGGAGGATGAGGAGGAGGAAGTGTGAGGG
				GTTATGCTTATGCAT
			</example>
		</database>
		<database id="4" type="nucl" outfasta="true">
			<name>mRNA sequences</name>
			<bank>/data1/Reference/blast/6.1/Mesculenta_305_v6.1.mRNA.fa</bank>
			<methodSuffix>GeneCDSmRNA</methodSuffix>
			<feature_cache>feature_cache</feature_cache>
			<protein_cache>protein_cache</protein_cache>
			<tracks>tracks=ReferenceSequence-1\,Genes-1</tracks>
			<columns>
				link,qName,qLength,aLength,qStart,qEnd,subject,sStart,sEnd,locus,lLength,lStart,lEnd,lType,strd,identity
			</columns>
			<example id="1">
				>Query from Manes.13G131000.1.v6.1
				ATGCAATTGAATGGATTTGCACTGAAAAATGCTACTCTAAAAGATCATACTGGAATGATGTGGA
				ATGTCCAATTAGAAAAGACTGAAAACGACTTGATTATTAAAAAAGGTTGGCAAGAATTTGCAAG
				TCATCACTCTTTAGTTGATGCAGATTTTCTAGTTTTCAAGTATGATGGGAATTCTCAATTTTCC
				GTCAAATTATATGGTAAAAATGGGTTGAAGAAGGAAAACACTCTTCCTAGTAAAGTGTCCAGCA
				CTCATATGGATGAATCAGAAACAGAAGAAGAGAAGAATAGGAGCCCCTCTACTGGTGGCTGCAA
				GCTGAAGTACTCAGAAATGACATCCAAAGAAAATGGAAGACAAGGTAGAATAAGTTGAAATCAA
				CTATCTGTTATAATCTATCAGCCGCACTATCAAGTTATATCCAACACCTAAATCAAACAGATCC
				TTAATCTAAAACTTCCTTATGTTTACAGGTCGATATGGAGGAAGTAGCAAAGCTGCAGGTTCAT
				CTGGAAGACGTCAATACAAGTTCAGACAGGCTGCAGGTTCATCTAGAGAAAGAAGAAGAGAATT
				AAGACAGAATACAGTTGCAAAAAATGAGAAATGCAAGTTGGGTAGAGCTTATGTTACCCCAGAA
				AATCCACATTTTGTGACAATTATGACTCGGTCAACACAATACACTGTGGTATAAGTTTTCTCAT
				CTTTCCTTTTTTCCTGCCATTATGTGTTCTTGGCGTTTTCAATTGCATCATCTGTGATGGACCT
				ATAAGAGGGACTGGTAGAGACTCGCAAGGCTGCTATTATTTGTAGTGTTTTTTTTATTACTTTC
				GATTGGATGTCTTACATAACTGTTGCTGATTGCAGCATATTCACAAGTCAGTGGTGAAAGCACA
				CAACATTAAGTTGCAGGAAAAGGTGACACTTCGTGATGAGAATGGTCAGTTATGGCCTGTGAAA
				ATCATTTTCAGAGATGATGGTCGGATTGGTATTTCTGAAGGCTGGTTTAATTTCCGTGTGAAGC
				ACAAATTGGCAATCAAGGACATGTGTGTTTTTGAGTTTATGCCCAGAGAAGATAACATTTGCAA
				TCTAATTCAAGTGCATACTGTTCAAAGAAATGGTGAATTTGATAAGAAACAAGCTCAACCCAAC
				ACGCACGTCCAGTCGAATGAGTAA
			</example>
		</database>
		<database id="5" type="prot" outfasta="true">
			<name>Protein sequences</name>
			<bank>/data1/Reference/blast/6.1/Mesculenta_305_v6.1.protein.fa</bank>
			<methodSuffix>Protein</methodSuffix>
			<feature_cache>feature_cache</feature_cache>
			<protein_cache>protein_cache</protein_cache>
			<tracks>tracks=ReferenceSequence-1\,Genes-1</tracks>
			<columns>
				link,qName,qLength,aLength,qStart,qEnd,subject,sStart,sEnd,protein,pLength,pStart,pEnd,locus,lLength,lStart,lEnd,lType,strd,identity
			</columns>
			<example id="1">
				>Manes.04G164900.1.p pacid=32329030 transcript=Manes.04G164900.1 locus=Manes.04G164900 ID=Manes.04G164900.1.v6.1 annot-version=v6.1
				MQTCESRSFSEEEVASLANNSESDKEGFTEFALLLDKFTPILIELKENGKVMDRPPVRAAVDSLENELRRAKELIKSTGN
				SKSPIKQMEYMTQDLGRSLGLVLFASIDVSREIKEKVSALHKELMSAKFITSLSTSPCPSPRPSQEYGSVSEMDSEREIE
				EETVTLSTEDVVLQLKYGNDEEFKLALWGLRDIINDQSIDKEWINNEGVIPILFNRLGSSKPRSRLTIIQMLRILASVNT
				ENKEKMADVGSLSLLVKSLTRDVDERREAVGLLLELTEISAVQRRIGRIQGCIVMLVSMLNGDDPTACHDAGKLLVALSN
				NTQNALHMAEAGYFKPLVRYLKEGSDMGKILMATAISRIELTDQSRASLGEEGAIEPLVKMFKTGKLEAKLSALNALQNL
				SMLTENIQRLISSGIVVPLLQLLFSVTSVLMTLREPASAILARIAQSESILVNKDVAQQMLSLLNLSSPVIQFHLLQALN
				SIASHSRASKVRKKMEESGAVQLLLPFLTESNLKNRTAALNLLYTLSKDSPEELMEQLGEYQLNNIVNIICSSTSEGEKA
				AAIGILSNFPISKKKATDVLKKSNLLPILVSIMSSSESTSMPRTNWLMECIAGLFIRFTVASDKKLQLLSAELGVIPLLV
				KLLSSGSVVAKCRAATSLAQLSQNSLALRKSRKSRWTCIPHSAEAFCEVHDGYCIVKNTFCLVKAGAVSPLIKILEREER
				EADEAVLDALATLLQDEIWENGSNYIARMSVFQAIIKVLESGNVKAQEKALWILERIFRIEEHRTQYGESAQVVLIDLAQ
				NGDPRLKSLVAKVLAQLELLQPQSSYF
			</example>
			<example id="2">
				>Query from Manes.04G015300.1.v6.1.CDS.1
				ATGACAGTTTTAAAAAGGTACGTGTTGAGGTTGTTTATATCATTGAAGTACATTACAGCTAAC
				GTTGTAGACAGAAACAACGGGAGGATTGTTGCAACGGCATCAACAGTTGAACATTCCATCAAG
				AACACACTTGAATGTGATCGGTCCTGCAATGCAAAAGCAGCAGCAGTTGTTGGAGAGGTGTTG
				GGTATGCGTCTAAAGGTGGAGGGTCTTGATCAAGGACAAGGAAGAGGAATTCATGTTAATATA
				AGCAAAGAGGTTGAGAAAAAAGGTTTTAAAAACCAAACCAAGATATGGGCTATTGTTAATGCC
				CTTAAAAATAGTGGAGTTAAGGTTATTTTGGACGATAATGATGACAACACATCTGGAACAAAA
				TTCCCATAA
			</example>
		</database>
		<database id="6" type="nucl" outfasta="true">
			<name>Transcript sequences</name>
			<bank>/data1/Reference/blast/6.1/Mesculenta_305_v6.1.transcript.fa</bank>
			<methodSuffix>Transcript</methodSuffix>
			<cache>feature_cache,protein_cache</cache>
			<tracks>tracks=ReferenceSequence-1\,Genes-1</tracks>
			<columns>
				link,qName,qLength,aLength,qStart,qEnd,subject,sStart,sEnd,protein,pLength,pStart,pEnd,locus,lLength,lStart,lEnd,lType,strd,identity
			</columns>
			<example id="1">
				>Manes.04G134900.1 pacid=32328542 locus=Manes.04G134900 ID=Manes.04G134900.1.v6.1 annot-version=v6.1
				ATGGGTAAAGCTACAAGGTGGCTAAAGGGCTTGTTGGGTATGaagaaagataaagagaaagaaagaGAAAATGGCGGTGA
				AACTTCAAGTCCAATTTCAAGCGAAAGGAGAGATAAAAAAAGATGGAGTTTTGGCAAATCAGGAAGGGATAACACAGTGA
				TCCCACAAATTCCCGAGAATCTTCAAGGGAAAGATGCTGCCTGGATCAGATCCTACTTTGCTGAGACAGAAAGAGAGCAG
				AACAAGCACGCAATAGCGGTGGCTGCTGCCACGGCTGCAGCAGCCGATGCCGCAGTGGCTGCAGCACAGGCTGCGGTTGC
				GGTAGTGAGGCTGACCAGCCATGGCAGAGGAACATTGTTTGGTGGAGGGAGGGAAAGGTGGGCTGCAACTAAAATTCAAA
				CTGTTTTCAGAGGCTATTTGGCTCGAAAAGCTCTTCGAGCATTGAAAGGGCTGGTTAAGATACAGGCACTTGTTAGAGGT
				TACCTTGTACGAAAGCGGGCTGATGCTACTCTTCACAGTATGGAAGCTCTTATAAGAGCTCAAACTGCTGTTCGATCCCA
				ACGTGCTCGTCGTTCTGTAAACAAAGAGAACAGATTTCAACCTGAAAATCGACCGCGAAAATCGATTGAAAGATTTGATG
				ATACAAGAAGTGAATTCCATAGCAAGAGGCTGTCTACATCTTATGAAATGAATGTGTTCGACGAAAGTCCAAAAATAGTT
				GAAATCGACACTTACAAGCCAAGATCAAGATCTCGAAGATTCACTGCTGCATTATCAGAATGTGATGAAGAATTCCATTA
				CCAAGCAATCTCATCACCGCTTCCATGTCCAATTTCAGCTCGAATCACACCCGAAAGCAAAACTCAACAAGATTTTGATT
				GGTACTTCAATGGTGAGGAATGTAGGTTCTCCACAGCCCAAAGCACTCCAAGGTTCGCAAACTCTGTCCGATCAAACGCC
				CTTGCTACACCAGCCAAGAGTGTCTGCGGAGACAGCTACTTCAGGCCTTATTCAAACTTCCCCAATTATATGGCAAACAC
				ACAATCCTTTAAGGCCAAATTGAGGTCACACAGTGCTCCGAAGCAGCGACCGGAGCCAGGGCAAAAGAAGAGGCTTTCGC
				TGAATGAAATAATGGCAGCAAGGAATAGCATAAGCAGTGTCAGAATGCAGAGGTCATGTTCCAAAGTTGATGAAAGTTTA
				GGTTTTTGACAGATTGATCGAACAAAGAAATAGATTCTGAAATCTAAGCTTGTTATTTTCAACAAACGTTGACAACCAAT
				ATGATAGATGAAAGAGTGGCTTGTGCAAATTCTTTTCAACAGTTGACGTTGATGTTGCCTTTGCAATGAAATCAGAGCTT
				CTTTTCTTGTT
			</example>
		</database>
	</databases>

	<chromosomes>
		<chromosome name="Chromosome01">
			<length>34959721</length>
		</chromosome>
		<chromosome name="Chromosome02">
			<length>32431396</length>
		</chromosome>
		<chromosome name="Chromosome03">
			<length>29412403</length>
		</chromosome>
		<chromosome name="Chromosome04">
			<length>28749345</length>
		</chromosome>
		<chromosome name="Chromosome05">
			<length>28438989</length>
		</chromosome>
		<chromosome name="Chromosome06">
			<length>27939960</length>
		</chromosome>
		<chromosome name="Chromosome07">
			<length>27069033</length>
		</chromosome>
		<chromosome name="Chromosome08">
			<length>34011518</length>
		</chromosome>
		<chromosome name="Chromosome09">
			<length>29417918</length>
		</chromosome>
		<chromosome name="Chromosome10">
			<length>26335333</length>
		</chromosome>
		<chromosome name="Chromosome11">
			<length>27369018</length>
		</chromosome>
		<chromosome name="Chromosome12">
			<length>31602189</length>
		</chromosome>
		<chromosome name="Chromosome13">
			<length>28119335</length>
		</chromosome>
		<chromosome name="Chromosome14">
			<length>24855542</length>
		</chromosome>
		<chromosome name="Chromosome15">
			<length>26192760</length>
		</chromosome>
		<chromosome name="Chromosome16">
			<length>28979753</length>
		</chromosome>
		<chromosome name="Chromosome17">
			<length>27388923</length>
		</chromosome>
		<chromosome name="Chromosome18">
			<length>25234269</length>
		</chromosome>
	</chromosomes>

		
</configuration>
